<div class="container text-center" style="margin: 30px;">
    <h2>hola desde el componente item-listar</h2>
    <p>item-lista works!</p>
</div>
<div class="container">
    <table class="table table-striped table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">descripcion</th>
      <th scope="col">precio</th>
      <th scope="col">stock</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>&#64;mdo</td>
      <td>5</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>&#64;fat</td>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>&#64;social</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

